<div class="col-md-6">
  <h2 class="text-center">Add Parameter</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="parameter.name" type="text" formControlName="name" placeholder="Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Profile:</label>
      <select [(ngModel)]="parameter.profile" formControlName="profile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
        <option *ngFor="let profile of profiles" [value]="profile.name">{{
          profile.name
          }}</option>
      </select>
      <div *ngIf="submitted && f.profile.errors">
        <div *ngIf="f.profile.errors.required">Profile is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Parameter Type:</label>
      <select [(ngModel)]="parameter.param_type" formControlName="param_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.param_type.errors }">
        <option></option>
        <option *ngFor="let parameterType of parameterTypes" [value]="parameterType.name">{{ parameterType.name }}</option>
      </select>
      <div *ngIf="submitted && f.param_type.errors">
        <div *ngIf="f.param_type.errors.required">
          Parameter Type is required
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-info btn-custom">Save</button>
    <button routerLink='/parameter' type="button" class="btn btn-info">Back</button>
  </form>
</div>
