<h2 class="text-center">All Measurements</h2>
<div class="row">
  <p class="col-md-4">
    <label>Keyword:</label>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
  </p>
  <p class="col-md-4">
    <label>Profile:</label>
    <select #profile (change)='onProfileChange(profile.value)' class="form-control">
      <option [value]="0">Select Profile</option>
      <option class="profile-name" *ngFor='let profile of profiles' [value]="profile.name">{{profile.name}}</option>
    </select>
  </p>
  <p class="col-md-4">
    <label>Parameter:</label>
    <select #parameter (change)='onParameterChange(parameter.value)' class="form-control">
      <option [value]="0">Select Parameter</option>
      <option class="parameter-name" *ngFor='let parameter of parameters' [value]="parameter.name">{{parameter.name}}</option>
    </select>
  </p>
</div>


<div class="table-responsive table-container">
  <table class="table table-light table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Parameter</th>
        <th>Value</th>
        <th>Profile</th>
        <th>Parameter Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let measurement of filterResults">
        <td>
          <a [routerLink]="['/product/', measurement.id]">{{ measurement.parameter }}</a>
        </td>
        <td>{{ measurement.value }}</td>
        <td>{{ measurement.profile }}</td>
        <td>{{ measurement.param_type}}</td>
      </tr>
    </tbody>
  </table>
</div>
